// COLOURS
$colourGreen: #8a8c3b;
$colourPale: #d9d7ba;
$colourBrown: #595143;
$colourBlack: #0d0c0b;
$colourOrange: #bf5d24;

// FONTS
@font-face {
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto&display=swap');
}

// FONT SIZES
$fontSizeLarge: 30px;
$fontSizeMedium: 25px;
$fontSizeRegular: 15px;
$fontSizeHeader: 10vh;
$fontSizeTeam: 15vh;

//TABLET FONT SIZES
$fontTabletTeam: 9vh;
$fontSizeTabletLarge: 7vh;
$fontSizeTabletMedium: 6vh;

//MOBILE FONT SIZES
$fontMobileTeam: 8vh;
$fontSizeMobileLarge: 6vh;