@font-face {
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto&display=swap");
}
* {
  font-family: "Roboto", arial, sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}

.body {
  height: 100%;
  width: 100vw;
  display: block;
}
@media (min-width: 46.25em) {
  .body {
    display: block;
  }
}
@media (min-width: 61.25em) {
  .body {
    display: flex;
    height: 100vh;
  }
}

.text-section {
  width: 100vw;
  display: block;
  overflow: hidden;
  background: #595143;
  color: #0d0c0b;
  text-align: center;
}
@media (min-width: 46.25em) {
  .text-section {
    display: block;
    font-size: 6vh;
  }
}
@media (min-width: 61.25em) {
  .text-section {
    width: 35vw;
    display: inline-block;
    overflow: hidden;
    font-size: 7vh;
  }
}

.header {
  font-size: 6vh;
  font-weight: bolder;
  display: block;
  text-align: center;
  padding: 20px;
  padding-top: 5vh;
}
@media (min-width: 46.25em) {
  .header {
    text-align: center;
    font-size: 6vh;
  }
}
@media (min-width: 61.25em) {
  .header {
    padding: 45px;
    padding-top: 20vh;
  }
}
@media (min-width: 81.25em) {
  .header {
    display: block;
    font-size: 10vh;
    padding-top: 20vh;
  }
}

.main-text {
  padding: 20px;
  font-size: 16px;
  color: #d9d7ba;
  display: block;
}
@media (min-width: 61.25em) {
  .main-text {
    display: block;
  }
}
@media (min-width: 81.25em) {
  .main-text {
    padding: 30px;
  }
}

.random {
  margin-bottom: -2vh;
  color: #d9d7ba;
}
@media (min-width: 46.25em) {
  .random {
    font-size: 6vh;
  }
}
@media (min-width: 61.25em) {
  .random {
    font-size: 7vh;
  }
}
@media (min-width: 81.25em) {
  .random {
    float: left;
    margin-top: 1vh;
    font-size: 7vh;
  }
}

.team {
  float: none;
  text-align: center;
  font-family: "Open Sans";
  color: #bf5d24;
  font-size: 8vh;
  margin-top: -10px;
  margin-bottom: -10px;
}
@media (min-width: 46.25em) {
  .team {
    font-size: 9vh;
  }
}
@media (min-width: 61.25em) {
  .team {
    font-size: 8vh;
  }
}
@media (min-width: 81.25em) {
  .team {
    float: right;
    font-size: 15vh;
  }
}

.picker {
  padding: 1px 10px;
  color: #d9d7ba;
}
@media (min-width: 46.25em) {
  .picker {
    font-size: 6vh;
  }
}
@media (min-width: 61.25em) {
  .picker {
    font-size: 7vh;
  }
}
@media (min-width: 81.25em) {
  .picker {
    margin-bottom: 1vh;
    font-size: 7vh;
  }
}

.line1 {
  background: #bf5d24;
  padding: 2px;
  margin-top: 1vh;
  width: 12.5vw;
  display: none;
}
@media (min-width: 46.25em) {
  .line1 {
    display: none;
  }
}
@media (min-width: 81.25em) {
  .line1 {
    display: block;
    float: right;
  }
}

.line2 {
  background: #bf5d24;
  padding: 2px;
  margin-top: -1vh;
  width: 22vw;
  display: none;
}
@media (min-width: 46.25em) {
  .line2 {
    display: none;
  }
}
@media (min-width: 81.25em) {
  .line2 {
    display: block;
    float: left;
  }
}

.team-section {
  background: #bf5d24;
  background-image: url("../images/football2.jpg");
  background-blend-mode: normal;
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  overflow: scroll;
  color: #d9d7ba;
  font-size: 30px;
  padding: 45px 25px;
  display: block;
  position: relative;
  justify-items: center;
  width: 100vw;
}
@media (min-width: 61.25em) {
  .team-section {
    width: 65vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    padding-top: 20vh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
  }
}

.enter-team-names {
  padding: 15px;
}

.label {
  background: #595143;
  font-weight: bold;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  display: block;
  width: 75vw;
  font-size: 25px;
  padding: 15px;
}
@media (min-width: 46.25em) {
  .label {
    width: 65vw;
  }
}
@media (min-width: 61.25em) {
  .label {
    font-size: 25px;
    width: 25vw;
  }
}

.textarea {
  border: 0px #595143;
  padding: 15px;
  background: #d9d7ba;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 5px 10px 18px #0d0c0b;
  display: block;
  width: 75vw;
  height: 35vh;
  resize: none;
  overflow: auto;
}
@media (min-width: 46.25em) {
  .textarea {
    display: block;
    width: 65vw;
  }
}
@media (min-width: 61.25em) {
  .textarea {
    width: 20vw;
    height: 37vh;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 25vw;
  }
}

.buttons {
  padding: 10px;
  text-align: center;
}

.button {
  background: #595143;
  color: #d9d7ba;
  border-radius: 5px;
  display: inline-block;
  height: 5vh;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  box-shadow: 0 5px #8a8c3b;
}

.button-clear {
  background: #595143;
  color: #d9d7ba;
  border-radius: 5px;
  display: inline-block;
  height: 5vh;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  box-shadow: 0 5px #8a8c3b;
}

.button:hover, .button-clear:hover {
  background: #bf5d24;
}

.button:active, .button-clear:active {
  box-shadow: 0 1px #8a8c3b;
  transform: translateY(4px);
}

@media (min-width: 61.25em) {
  .team-names {
    grid-column: 1/2;
    grid-row: 1/2;
    display: block;
    text-align: center;
  }
}

.teams {
  padding: 10px;
  margin-top: 3vh;
  font-size: 16px;
}
@media (min-width: 46.25em) {
  .teams {
    padding: 10px;
  }
}
@media (min-width: 61.25em) {
  .teams {
    margin-top: 0vh;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

@media (min-width: 61.25em) {
  .team-card {
    padding: 5px;
  }
}

.team-header {
  background: #595143;
  font-weight: bold;
  padding: 15px;
  border-radius: 15px 15px 0px 0px;
  display: block;
  width: 75vw;
  text-align: center;
  font-size: 25px;
}
@media (min-width: 46.25em) {
  .team-header {
    width: 65vw;
  }
}
@media (min-width: 61.25em) {
  .team-header {
    width: 25vw;
  }
}

.names {
  background: #d9d7ba;
  color: #0d0c0b;
  padding: 15px;
  text-decoration: none;
  list-style-type: none;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 5px 10px 18px #0d0c0b;
  display: block;
  width: 75vw;
}
@media (min-width: 46.25em) {
  .names {
    display: block;
    width: 65vw;
  }
}
@media (min-width: 61.25em) {
  .names {
    font-size: 16px;
    width: 25vw;
  }
}

.vs {
  font-size: 10vh;
  font-weight: bolder;
  color: #bf5d24;
  display: block;
  text-align: center;
  padding: 10px;
}

.footer {
  text-align: center;
  background: #0d0c0b;
  color: #d9d7ba;
  padding: 10px;
  display: block;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
