.team-section {
    background: $colourOrange;
    background-image: url('../images/football1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
    color: $colourBlack;
    font-size: $fontSizeLarge;
    width: 65vw;
    padding: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    padding-top: 20vh;
    overflow: hidden;
}

.enter-team-names {
    padding: 15px;
}

.label {
    font-size: $fontSizeMedium;
    font-weight: bold;
    background: $colourBrown;
    padding: 15px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    width: 25vw;
}

.textarea {
    resize: none;
    overflow: auto;
    width: 20vw;
    height: 35vh;
    border: 0px $colourBrown;
    padding: 15px;
    background: $colourPale;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-radius: 0px 0px 15px 15px;
    width: 25vw;
}

.button {
    background: $colourBrown;
    color: $colourPale;
    height: 5vh;
    width: 12vw;
    font-size: $fontSizeRegular;
    border-radius: 5px;
}

.button-clear {
    background: $colourBrown;
    color: $colourPale;
    height: 5vh;
    width: 12vw;
    font-size: $fontSizeRegular;
    border-radius: 5px;
}

.team-names {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: block;
    text-align: center;
}

.teams {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.team-card {
    padding: 15px;
}

.team-header {
    font-size: $fontSizeMedium;
    font-weight: bold;
    background: $colourBrown;
    width: 25vw;
    text-align: center;
    padding: 15px;
    border-radius: 15px 15px 0px 0px;
}

.names {
    font-size: $fontSizeRegular;
    background: $colourPale;
    width: 25vw;
    padding: 15px;
    text-decoration: none;
    list-style-type: none;
    border-radius: 0px 0px 15px 15px;
}

.vs {
    font-size: $fontSizeHeader;
    font-weight: bolder;
    color: $colourOrange;
    display: block;
    text-align: center;
    padding: 10px;
}

//tablet version
@media screen and (max-width: 1024px) {
    .team-section {
        width: 100vw;
        padding: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;    
    }

    .label {
        display: block;
        width: 75vw;
    }

    .textarea {
        display: block;
        width: 75vw;
    }

    .button {
        display: inline-block;
        width: 20vw;
    }

    .button-clear {
        width: 20vw;
    }

    .teams {
        padding: 10px;
        margin-top: 5vh;
    }

    .team-header {
        display: block;
        width: 75vw;
    }

    .names {
        display: block;
        width: 75vw;
    }
}

//mobile version
@media screen and (max-width: 768px) {
    .team-section {
        width: 100vw;
        padding: 15px;
        display: block;
        position: relative;
    }

    .label {
        display: block;
        width: 75vw;
    }

    .textarea {
        display: block;
        width: 75vw;
    }

    .button {
        display: inline-block;
        width: 20vw;
    }

    .button-clear {
        width: 20vw;
    }

    .teams {
        padding: 10px;
        margin-top: 5vh;
    }

    .team-header {
        display: block;
        width: 75vw;
    }

    .names {
        display: block;
        width: 75vw;
    }
}