.text-section {
    width: 100vw;
    display: block;
    overflow: hidden;
    background: $colourBrown;
    color: $colourBlack;
    text-align: center;

    @include mq(tablet) {
        display: block;
        font-size: $fontSizeTabletLarge;
    }

    @include mq(desktop) {
        width: 35vw;
        display: inline-block;
        overflow: hidden;
        font-size: $fontDesktopLarge; 
    }
}

.header {
    font-size: $fontSizeMobileLarge;
    font-weight: bolder;
    display: block;
    text-align: center;
    padding: 20px;
    
    @include mq(tablet) {
        text-align: center;
        font-size: $fontSizeTabletLarge; 
    }

    @include mq(desktop) {
        padding-top: 20vh; 
        padding: 45px;
    }

    @include mq(wide) {
        display: block;
        font-size: $fontSizeHeader;
        padding-top: 20vh;
    }
}

.main-text {
    padding: 20px; 
    font-size: $fontSizeRegular;
    color: $colourPale;
    display: block;

    @include mq(desktop) {
        display: block;
    }

    @include mq(wide) {
        padding: 30px;
    }
}

.random {
    margin-bottom: -2vh;

    @include mq(tablet) {
        font-size: $fontSizeTabletLarge;
    }

    @include mq(desktop) {
        font-size: $fontDesktopLarge;
    }

    @include mq(wide) {
        float: left;
        margin-top: 1vh;
        font-size: $fontDesktopLarge;
    }
}

.team {
    float: none;
    text-align: center;
    font-family: 'Open Sans';
    color: $colourOrange;
    font-size: $fontMobileTeam;
    margin-top: -10px;
    margin-bottom: -10px;

    @include mq(tablet) {
        font-size: $fontTabletTeam;
    }

    @include mq(desktop) {
        font-size: $fontDesktopTeam;
    }
    
    @include mq(wide) {
        float: right;
        font-size: $fontSizeTeam; 
    }
}
 
.picker {
    padding: 1px 10px;

    @include mq(tablet) {
        font-size: $fontSizeTabletLarge;
    }

    @include mq(desktop) {
        font-size: $fontDesktopLarge;
    }

    @include mq(wide) {
        margin-bottom: 1vh;
        font-size: $fontDesktopLarge;
    }
}

.line1 {
    background: $colourOrange;
    padding: 2px;
    margin-top: 1vh;
    width: 12.5vw;
    display: none;
    
    @include mq(tablet) {
        display: none;
    }

    @include mq(wide) {
        display: block;
        float: right;
    }
}

.line2 {
    background: $colourOrange;
    padding: 2px;
    margin-top: -1vh;
    width: 20vw;
    display: none;

    @include mq(tablet) {
        display: none;
    }

    @include mq(wide) {
        display: block;
        float: left;
    }
}