.text-section {
    background: $colourGreen;
    color: $colourBlack;
    width: 40vw;
    display: inline-block;
    padding: 15px;
}

.header {
    display: block;
    font-size: $fontSizeHeader;
    padding: 10px;
    margin-top: 10vh;
}

.main-text {
    font-size: $fontSizeRegular;
    display: block;
    padding: 10px;
}