.text-section {
    background: $colourBrown;
    color: $colourBlack;
    width: 35vw;
    display: inline-block;
    padding: 15px;
    padding-top: 10vh;
    overflow: hidden;
}

.header {
    display: block;
    font-size: $fontSizeHeader;
    font-weight: bolder;
    padding: 10px;
    margin-top: 10vh;
}

.main-text {
    font-size: $fontSizeRegular;
    display: block;
    padding: 10px;
}

.random {
    margin-bottom: -3vh;
}

.team {
    font-family: 'Open Sans';
    color: $colourOrange;
    font-size: $fontSizeTeam;
    float: right;
    margin-bottom: -3vh;
    margin-top: -2vh;
}
 
.picker {
    margin-top: -3vh;
}

.line1 {
    background: $colourOrange;
    padding: 2px;
    margin-top: 1vh;
    width: 12.5vw;
    display: block;
    float: right;
}

.line2 {
    background: $colourOrange;
    padding: 2px;
    margin-top: -1vh;
    width: 20vw;
    display: block;
    float: left;
}

//mobile version
@media screen and (max-width: 768px) {
    .text-section {
        margin-top: -5vh;
        width: 100vw;
        padding-top: 0vh;
        display: block;
        padding: 5px;
        overflow: hidden;
    }

    .main-text {
        padding: 10px;
        width: 75vw;
    }

    .header {
        font-size: $fontMobileTeam;
        padding: 0vh;
        display: block;
        text-align: center;
    }

    .random {
        padding: 0vh;
        margin-bottom: 0vh;
    }

    .team {
        font-size: $fontMobileTeam;
        padding: 0vh;
        margin-bottom: 0vh;
        margin-top: 0vh;
        float: none;
    }

    .picker {
        padding: 0vh;
        margin-top: 0vh;
    }

    .line1, .line2 {
        display: none;
    }
}